* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 字体声明 */
@font-face {
    font-family: 'icomoon';
    src: url('fonts/icomoon.eot?p4ssmb');
    src: url('fonts/icomoon.eot?p4ssmb#iefix') format('embedded-opentype'),
        url('fonts/icomoon.ttf?p4ssmb') format('truetype'),
        url('fonts/icomoon.woff?p4ssmb') format('woff'),
        url('fonts/icomoon.eot.svg#icomoon') format('svg');
    font-style: normal;
    font-weight: normal;
    font-display: block;
}

em,
i {
    font-style: normal;
}

/* 清除浮动 */
.clearfix:before,
.clearfix:after {
    content: '';
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

input,
textarea {
    /* 取消表单轮廓 */
    outline: none;
}

textarea {
    /* 防止拖拽文本域 */
    resize: none;
}

img {
    border: 0;
    vertical-align: middle;
}

/* 隐藏 */
.hidn,
.none {
    display: none;
}

input,
button {
    /* 默认有灰色边框，需要去掉 */
    border: 0;
}

body,
a {
    color: #666;
    font-size: 12px;
}