.main {
    width: 981px;
    height: 465px;
    margin-left: 220px;
    padding-top: 10px;
}

.main .foucs {
    float: left;
    width: 721px;
    height: 455px;
}

.main .newflash {
    float: right;
    width: 250px;
    height: 455px;
}

.main .newflash .new {
    height: 165px;
    border: 1px solid #e8e8e7;
}

.main .newflash .new .new-header {
    height: 32px;
    line-height: 32px;
    border-bottom: 1px dotted #e8e8e7;
    margin-bottom: 5px;
    padding: 0 15px;
}

.main .newflash .new .new-header h3 {
    float: left;
    font-size: 14px;
    font-weight: 400;
}

.main .newflash .new .new-header span {
    float: right;
}

.new .new-header span a::after {
    font-family: 'icomoon';
    content: '\e997';
    margin-left: 6px;
}

.main .newflash .new ul {
    padding-left: 15px;
}

.main .newflash .new ul li {
    height: 24px;
    line-height: 24px;
    /* 1.超出隐藏 */
    overflow: hidden;
    /* 2.单行显示 */
    white-space: nowrap;
    /* 3.超出部分用省略号显示 */
    text-overflow: ellipsis;
}

.main .newflash .new ul li:nth-child(odd)::before {
    font-weight: 700;
    content: '[ 特惠 ]';
}

.main .newflash .new ul li:nth-child(even)::before {
    font-weight: 700;
    content: '[ 公告 ]';
}

.main .newflash .lifeservice {
    border-left: 1px solid #e8e8e7;
    /* border-top: 0; */
    height: 209px;
    /* overflow: hidden; */
}

.main .newflash .lifeservice ul {
    /* width: 252px; */
    height: 100%;
}

.main .newflash .lifeservice ul li {
    float: left;
    width: 25%;
    height: 33.3333%;
    text-align: center;
    border-right: 1px solid #e8e8e7;
    border-bottom: 1px solid #e8e8e7;
}

.main .newflash .lifeservice ul li a::before {
    font-family: 'icomoon';
    content: '\e915';
    display: block;
    margin: 13px 0;
    font-size: 18px;
    color: #c81623;
}

.main .newflash .bargain {
    margin-top: 5px;
    height: 75px;
}

.main .newflash .bargain img {
    width: 100%;
}

/* 推荐模块 */
.recom {
    height: 163px;
    margin-top: 12px;
    background-color: #ebebeb;
    margin-bottom: 22px;
}

.recom .recom_hd {
    width: 205px;
    height: 163px;
    float: left;
    line-height: 163px;
    text-align: center;
    background-color: #5c5251;
}

.recom .recom_bd {
    width: 995px;
    float: left;
}

.recom .recom_bd ul li {
    position: relative;
    width: 25%;
    height: 163px;
    float: left;
}

.recom .recom_bd ul li:nth-child(-n+3)::after {
    float: right;
    content: '';
    width: 1px;
    height: 143px;
    margin-top: 10px;
    background-color: #dddddd;
}

.recom .recom_bd ul li .img1 {
    position: absolute;
    right: 22px;
    top: 31px;
}

.recom .recom_bd ul li .img2 {
    position: absolute;
    right: 36px;
    top: 20px;
}

.recom .recom_bd ul li .text {
    position: absolute;
    top: 22px;
    left: 17px;
}

.recom .recom_bd ul li .text h3 {
    font-size: 16px;
}

.recom .recom_bd ul li:nth-child(even) .text p {
    background-color: #0085fb;
}

.recom .recom_bd ul li:nth-child(even) .text i {
    background-color: #0085fb;
}

.recom .recom_bd ul li .text p {
    font-size: 14px;
    color: #fff;
    background-color: #5fb200;
    margin-top: 13px;
}

.recom .recom_bd ul li .text i {
    display: block;
    margin-top: 21px;
    width: 57px;
    height: 18px;
    text-align: center;
    font-size: 14px;
    color: #fff;
    background-color: #5fb200;
    border-radius: 9px;
}

/* 猜你喜欢模块 */
.guess {
    height: 271px;
}

.guess .guess_hd {
    height: 38px;
    line-height: 38px;
    padding-right: 20px;
}

.guess .guess_hd h3 {
    float: left;
    font-size: 18px;
}

.guess .guess_hd p {
    float: right;
}

.guess .guess_hd p a::after {
    font-family: 'icomoon';
    content: '\e946';
    margin-left: 6px;
    font-weight: 400;
}

.guess .guess_bd {
    height: 233px;
    border: 1px solid #ededed;
}

.guess .guess_bd ul li {
    float: left;
    width: 16.667%;
    height: 231px;
    text-align: center;
}

.guess .guess_bd ul li .li_text {
    text-align: left;
    margin-left: 33px;
    margin-top: 10px;
    border-right: 1px solid #ededed;
}

.guess .guess_bd ul li .li_text p {
    text-align: left;
    margin-top: 8px;
    font-size: 18px;
    font-weight: 700;
    color: #df3033;
}

.guess .guess_bd ul li .li_text p::before {
    content: '¥';
    font-size: 14px;
}

.guess .guess_bd ul li:nth-child(even) img {
    margin-top: 11px;
}

.guess .guess_bd ul li:last-child .li_text {
    border: 0;
}

/* 家用电器模块 */
.jiadian_hd {
    margin-top: 29px;
    height: 30px;
    border-bottom: 2px solid #c81623;
}

.jiadian_hd h3 {
    float: left;
    font-size: 18px;
    color: #c81623;
    font-weight: 400;
}

.jiadian_hd .tab_list {
    float: right;
}

.jiadian_hd .tab_list ul li {
    float: left;
    margin-top: 9px;
    height: 12px;
    line-height: 12px;
    padding: 0 14px;
    border-right: 1px solid #999;
}

.jiadian_hd .tab_list ul li:last-child {
    border: 0;
}

.jiadian_hd .tab_list ul li:first-child a {
    color: #c81623;
}

.jiadian_bd {
    height: 361px;
    margin-bottom: 22px;
}

.w_210 {
    width: 210px;
    text-align: center;
    background-color: #f9f9f9;
}

.w_329 {
    width: 329px;
    background-color: #aed6d8;
    text-align: center;
}

.w_221 {
    width: 221px;
    height: 361px;
    line-height: 361px;
    text-align: center;
}

.w_219 {
    width: 219px;
    height: 361px;
    line-height: 361px;
    text-align: center;
}

.jiadian_bd .tab_content>div {
    float: left;
    height: 361px;
}

.jiadian_bd .tab_content .w_210 ul {
    padding-left: 13px;
    margin-bottom: 25px;
}

.jiadian_bd .tab_content .w_210 ul li {
    float: left;
    width: 86px;
    height: 33px;
    line-height: 33px;
    text-align: center;
    border-bottom: 1px solid #ededed;
    margin-right: 12px;
}

.jiadian_bd .tab_content .w_329 p {
    height: 80px;
    padding: 38px 46px 0 30px;
    text-align: left;
    margin-bottom: 35px;
}

.jiadian_bd .tab_content .w_329 p a {
    font-size: 18px;
    color: #066c7d;
}

.jiadian_bd .tab_content .w_329 p a::after {
    content: '满299.00减40.00';
    font-size: 16px;
}

.sj_bd .tab_content .w_329 p a {
    color: #6b9c51;
    font-size: 18px;
}

.sj_bd .tab_content .w_329 p a::after {
    display: block;
    content: '1199抢购';
    font-size: 16px;
}

.sj_bd .tab_content .w_329 {
    background-color: #c6e8b6;
}

.dn_bd .tab_content .w_329 p a {
    color: #996488;
    font-size: 18px;
}

.dn_bd .tab_content .w_329 p a::after {
    display: block;
    content: '运动相机低至¥299';
    font-size: 16px;
}

.dn_bd .tab_content .w_329 {
    background-color: #d7aac9;
}



.jiadian_bd .tab_content .w_329 ul {
    padding-left: 142px;
    margin-top: 10px;
}

.dn_bd .tab_content .w_329 ul {
    margin-top: 22px;
}

.jiadian_bd .tab_content .w_329 ul li {
    float: left;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    margin-right: 7px;
    background-color: #3e3e3e;
}

.jiadian_bd .tab_content .w_329 ul li:hover {
    background-color: #fff;
}

.tab_content a {
    display: block;
}

.tab_content .one a {
    height: 180.5px;
    line-height: 180.5px;
}

.w_221 a {
    height: 361px;
    border: 1px solid #ededed;
    border-top: 0;
}

.bb {
    border-bottom: 1px solid #ededed;
}

.br {
    border-right: 1px solid #ededed;
}

.jiadian_bd .tab_content .none {
    border: 0;
    border-bottom: 1px solid #ededed;
}

.jiadian_list {
    height: 65px;

}

/* 侧边栏模块 */
.che {
    float: left;
    width: 58px;
    position: sticky;
    top: 0px;
    margin-left: 95px;

}

.che ul li {
    height: 31px;
    line-height: 31px;
    text-align: center;
    border: 1px solid #ededed;
    border-top: 0;
    color: #666;
}

.che ul li:hover {
    background-color: #c81623;
}

.che ul li:first-child {
    border-top: 1px solid #ededed;
}

.che ul li:hover a {
    color: #fff;
}